<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Knihovna</title>
    <style>
        table {
            width: 90%;
            border-collapse: collapse;
            margin: 25px auto;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        img {
            max-width: 100px;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;">Seznam Knih</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulek</th>
                <th>Autor</th>
                <th>Rok vydání</th>
                <th>Žánr</th>
                <th>ISBN</th>
                <th>Stránky</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author.name }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.pages }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Tlačítko pro přidání nové knihy -->
    <a href="{{ url_for('addbook') }}">
        <button>Přidat novou knihu</button>
    </a>
</body>
</html>
